html, header {
	margin: 10;
}

html, body {
	font-family: serif;
	background-color: #3b535c;
}
ul { 
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
	left: 50%;
}

li {
	display: inline;
	border-style: solid;
}
.comic {
	position: relative;
	width: 100%;
	height: auto;
}
p {
	border-style: double;
}
	
