html, head {
	position: relative;
	border-style: double;
}

html, body {
	position: relative;
	top: 0px;
	min-height: 100%;
	font-family: serif;
	background-color: #3b535c;
	border-style: dotted;
}
ul { 
	position: relative;
	list-style-type: none;
	left: 50%;
}

li {
	display: inline;
	border-style: solid;
}
.comic {
	border-style: solid;
	border-color: GREEN;
}
.main { 
	position: relative;
	border-style: solid;
	border-color: BLUE;
p {
	position: relative;
	border-style: double;
}
	
