html, header {
	margin: 10;
}

html, body {
	font-family: serif;
 	margin: 10;
 	width: 100%;
	height: 100%;
	background-color: #3b535c;
}
ul { 
	list-style-type: none;
	position: relative;
	left: 50%;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}
.comic {
	margin: 10px 10px;
}
p {
	border-style: double;
	margin: 10px;
	padding: 10px;
}
	
